<div class="row pt-3">
    <!-- <input class="form-control my-2" [(ngModel)]="userName">
<h4 class="mb-3">User Name From Ts:{{userName}}</h4> -->
    <div class="col-md-4">
        <div class="brdr w-25 mb-3"></div>
       <h2 class="h5 ">Trending TvShows <br>To Watch Right Now</h2>
       <p class=" py-2" style="color: rgb(149, 143, 143);">Most Watched TvShows By The Day</p>
        <div class="brdr w-100 mb-3"></div>

    </div>
<div *ngFor="let item of trendingTv"  class="col-md-2">
    <app-media-item [item]="item"></app-media-item>
</div>

</div>


